.menu-button-container {
  display:none;

}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: black;
  position: absolute;
  height: 4px;
  width: 30px;
  transition-duration: .25s;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
  background-color: red;
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
  background-color: red;
}


.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

.click-box{
  background-color: rgba(0, 0, 0, 0);
  width: 30px; height: 24px;
  position: absolute;
  top: -10px;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .menu-button-container {
    display:block;
    position: relative;
    top: 20px;
  }

  #small-screen{
    height: 30px;
    background-color: rgba(255, 255, 255, 0.5);
  }

}





