select{
    font-size: 14pt;
    overflow: auto;
    margin-bottom: 10px;
}
 
#panel {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
}
 
.options {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin: 10px 0;
}
 
button{
    font-size: 12pt;
    background-color: rgba(169, 169, 169, 0.5);
    padding: 5px;
    margin-bottom: 10px;
}

#score {
    text-align: center;
}
