input{
    font-size: 15pt;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
}

button{
    margin-right: 10px;
    font-size: 12pt;
    background-color: rgba(169, 169, 169, 0.5);
    padding: 5px;
}

p{
    margin-bottom: 0px;
}